<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HttpServer</display-name>
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.demo.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlet.demo.Register</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CommitAudio</display-name>
    <servlet-name>CommitAudio</servlet-name>
    <servlet-class>com.servlet.audio.CommitAudio</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>QueryAudio</display-name>
    <servlet-name>QueryAudio</servlet-name>
    <servlet-class>com.servlet.audio.QueryAudio</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CommitVideo</display-name>
    <servlet-name>CommitVideo</servlet-name>
    <servlet-class>com.servlet.video.CommitVideo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>QueryVideo</display-name>
    <servlet-name>QueryVideo</servlet-name>
    <servlet-class>com.servlet.video.QueryVideo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>JoinNearby</display-name>
    <servlet-name>JoinNearby</servlet-name>
    <servlet-class>com.servlet.nearby.JoinNearby</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>QueryNearby</display-name>
    <servlet-name>QueryNearby</servlet-name>
    <servlet-class>com.servlet.nearby.QueryNearby</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GenerateCode</display-name>
    <servlet-name>GenerateCode</servlet-name>
    <servlet-class>com.servlet.verifycode.GenerateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommitAudio</servlet-name>
    <url-pattern>/commitAudio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAudio</servlet-name>
    <url-pattern>/queryAudio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommitVideo</servlet-name>
    <url-pattern>/commitVideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryVideo</servlet-name>
    <url-pattern>/queryVideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoinNearby</servlet-name>
    <url-pattern>/joinNearby</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryNearby</servlet-name>
    <url-pattern>/queryNearby</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateCode</servlet-name>
    <url-pattern>/generateCode</url-pattern>
  </servlet-mapping>
</web-app>