<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NetServer</display-name>
  <welcome-file-list>
    <welcome-file>upload.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CheckUpdate</display-name>
    <servlet-name>CheckUpdate</servlet-name>
    <servlet-class>servlet.CheckUpdate</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>QueryFriend</display-name>
    <servlet-name>QueryFriend</servlet-name>
    <servlet-class>servlet.QueryFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryFriend</servlet-name>
    <url-pattern>/queryFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUpdate</servlet-name>
    <url-pattern>/checkUpdate</url-pattern>
  </servlet-mapping>
</web-app>